<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

        <ion-title>Dieta Mobile</ion-title>

        <ion-buttons slot="end">
            <ion-button>
                Salvar Dados
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="stacked">Escolha um prato</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Digite a quantidade total, sendo que 1 é igual a 100g</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

    </ion-list>
</ion-content>